.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-black);
  padding: 6vh 10vw;
  gap: 30px;
}

.headingContainer {
  width: 100%;
  color: var(--color-white);
  font-size: 32px;
  font-weight: 700;
}

.balanceContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  gap: 40px;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.transferableTitleContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.transferableTitle {
  font-size: 16px;
  font-weight: 700;
}

.transferableDesc {
  font-size: 12px;
  font-weight: 400;
}

.transferableValue {
  font-size: 24px;
  font-weight: 700;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.formItemContainer {
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  justify-content: space-between;
}

.formItemContainer label {
  background-color: var(--color-white);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.transactionInput {
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
  width: 70%;
}

.transactionBtn {
  background-color: var(--color-red);
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  color: var(--color-white);
}
